<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bn</key>
	<dict>
		<key>code</key>
		<string>bn</string>
		<key>name</key>
		<string>孟加拉文</string>
	</dict>
	<key>cs</key>
	<dict>
		<key>code</key>
		<string>cs</string>
		<key>name</key>
		<string>捷克文</string>
	</dict>
	<key>da</key>
	<dict>
		<key>code</key>
		<string>da</string>
		<key>name</key>
		<string>丹麦文</string>
	</dict>
	<key>de</key>
	<dict>
		<key>code</key>
		<string>de</string>
		<key>name</key>
		<string>德文</string>
	</dict>
	<key>el</key>
	<dict>
		<key>code</key>
		<string>el</string>
		<key>name</key>
		<string>希腊文</string>
	</dict>
	<key>en</key>
	<dict>
		<key>fromDefault</key>
		<true/>
		<key>code</key>
		<string>en</string>
		<key>name</key>
		<string>英文</string>
	</dict>
	<key>es</key>
	<dict>
		<key>code</key>
		<string>es</string>
		<key>name</key>
		<string>西班牙文</string>
	</dict>
	<key>fi</key>
	<dict>
		<key>code</key>
		<string>fi</string>
		<key>name</key>
		<string>芬兰文</string>
	</dict>
	<key>fr</key>
	<dict>
		<key>code</key>
		<string>fr</string>
		<key>name</key>
		<string>法文</string>
	</dict>
	<key>hi</key>
	<dict>
		<key>code</key>
		<string>hi</string>
		<key>name</key>
		<string>印地文</string>
	</dict>
	<key>hu</key>
	<dict>
		<key>code</key>
		<string>hu</string>
		<key>name</key>
		<string>匈牙利文</string>
	</dict>
	<key>id</key>
	<dict>
		<key>code</key>
		<string>id</string>
		<key>name</key>
		<string>印度尼西亚文</string>
	</dict>
	<key>it</key>
	<dict>
		<key>code</key>
		<string>it</string>
		<key>name</key>
		<string>意大利文</string>
	</dict>
	<key>ja</key>
	<dict>
		<key>code</key>
		<string>ja</string>
		<key>name</key>
		<string>日文</string>
	</dict>
	<key>ko</key>
	<dict>
		<key>code</key>
		<string>ko</string>
		<key>name</key>
		<string>韩文</string>
	</dict>
	<key>mr</key>
	<dict>
		<key>code</key>
		<string>mr</string>
		<key>name</key>
		<string>马拉地文</string>
	</dict>
	<key>ne</key>
	<dict>
		<key>code</key>
		<string>ne</string>
		<key>name</key>
		<string>尼泊尔文</string>
	</dict>
	<key>nl</key>
	<dict>
		<key>code</key>
		<string>nl</string>
		<key>name</key>
		<string>荷兰文</string>
	</dict>
	<key>no</key>
	<dict>
		<key>code</key>
		<string>no</string>
		<key>name</key>
		<string>挪威文</string>
	</dict>
	<key>pl</key>
	<dict>
		<key>code</key>
		<string>pl</string>
		<key>name</key>
		<string>波兰文</string>
	</dict>
	<key>pt</key>
	<dict>
		<key>code</key>
		<string>pt</string>
		<key>name</key>
		<string>葡萄牙文</string>
	</dict>
	<key>ru</key>
	<dict>
		<key>code</key>
		<string>ru</string>
		<key>name</key>
		<string>俄文</string>
	</dict>
	<key>sv</key>
	<dict>
		<key>code</key>
		<string>sv</string>
		<key>name</key>
		<string>瑞典文</string>
	</dict>
	<key>ta</key>
	<dict>
		<key>code</key>
		<string>ta</string>
		<key>name</key>
		<string>泰米尔文</string>
	</dict>
	<key>tl</key>
	<dict>
		<key>code</key>
		<string>tl</string>
		<key>name</key>
		<string>菲律宾文</string>
	</dict>
	<key>tr</key>
	<dict>
		<key>code</key>
		<string>tr</string>
		<key>name</key>
		<string>土耳其文</string>
	</dict>
	<key>ur</key>
	<dict>
		<key>code</key>
		<string>ur</string>
		<key>name</key>
		<string>乌尔都文</string>
	</dict>
	<key>vi</key>
	<dict>
		<key>code</key>
		<string>vi</string>
		<key>name</key>
		<string>越南文</string>
	</dict>
	<key>zh-CHS</key>
	<dict>
		<key>toDefault</key>
		<true/>
		<key>code</key>
		<string>zh-CHS</string>
		<key>name</key>
		<string>中文(简体)</string>
	</dict>
	<key>zh-CHT</key>
	<dict>
		<key>code</key>
		<string>zh-CHT</string>
		<key>name</key>
		<string>中文(繁体)</string>
	</dict>
	<key>auto</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>自动识别</string>
	</dict>
</dict>
</plist>
