<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ar-EGY</string>
	<string>ar-SAU</string>
	<string>fr-CAN</string>
	<string>pt-BRA</string>
	<string>es-XLA</string>
	<string>en-AUS</string>
	<string>en-GBR</string>
	<string>en-IND</string>
	<string>zh-CHT2</string>
</array>
</plist>
