<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>阿拉伯文</key>
	<string>ar</string>
	<key>印度尼西亚文</key>
	<string>id</string>
	<key>粤语</key>
	<string>yue</string>
	<key>捷克文</key>
	<string>cs</string>
	<key>丹麦文</key>
	<string>da</string>
	<key>荷兰文</key>
	<string>nl</string>
	<key>英文</key>
	<string>en</string>
	<key>英文（印度）</key>
	<string>en-IND</string>
	<key>英文（英国）</key>
	<string>en-GBR</string>
	<key>芬兰文</key>
	<string>fi</string>
	<key>法文</key>
	<string>fr</string>
	<key>德文</key>
	<string>de</string>
	<key>希腊文</key>
	<string>el</string>
	<key>印地文</key>
	<string>hi</string>
	<key>匈牙利文</key>
	<string>hu</string>
	<key>意大利文</key>
	<string>it</string>
	<key>日文</key>
	<string>ja</string>
	<key>韩文</key>
	<string>ko</string>
	<key>中文</key>
	<string>zh-CHS</string>
	<key>中文（繁体）</key>
	<string>zh-CHT</string>
	<key>中文（中国台湾）</key>
	<string>zh-CHT2</string>
	<key>挪威文</key>
	<string>no</string>
	<key>波兰文</key>
	<string>pl</string>
	<key>葡萄牙文</key>
	<string>pt</string>
	<key>罗马尼亚文</key>
	<string>ro</string>
	<key>俄文</key>
	<string>ru</string>
	<key>斯洛伐克文</key>
	<string>sk</string>
	<key>西班牙文</key>
	<string>es</string>
	<key>瑞典文</key>
	<string>sv</string>
	<key>泰文</key>
	<string>th</string>
	<key>土耳其文</key>
	<string>tr</string>
	<key>乌克兰文</key>
	<string>uk</string>
	<key>希伯来文</key>
	<string>he</string>
	<key>马来西亚文</key>
	<string>ms</string>
	<key>阿拉伯文（埃及）</key>
	<string>ar-EGY</string>
	<key>阿拉伯文（沙特阿拉伯）</key>
	<string>ar-SAU</string>
	<key>加泰罗尼亚文</key>
	<string>ca</string>
	<key>克罗地亚文</key>
	<string>hr</string>
	<key>英文（澳大利亚）</key>
	<string>en-AUS</string>
	<key>法文（加拿大）</key>
	<string>fr-CAN</string>
	<key>葡萄牙文（巴西）</key>
	<string>pt-BRA</string>
	<key>西班牙文（拉丁美洲）</key>
	<string>es-XLA</string>
	<key>越南文</key>
	<string>vi</string>
</dict>
</plist>
