<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>阿拉伯文</string>
	<string>波斯尼亚文（拉丁文）</string>
	<string>保加利亚文</string>
	<string>加泰罗尼亚文</string>
	<string>中文（繁体）</string>
	<string>克罗地亚文</string>
	<string>捷克文</string>
	<string>丹麦文</string>
	<string>荷兰文</string>
	<string>英文</string>
	<string>爱沙尼亚文</string>
	<string>芬兰文</string>
	<string>法文</string>
	<string>德文</string>
	<string>希腊文</string>
	<string>海地文</string>
	<string>希伯来文</string>
	<string>印地文</string>
	<string>白苗语</string>
	<string>匈牙利文</string>
	<string>印度尼西亚文</string>
	<string>意大利文</string>
	<string>日文</string>
	<string>斯瓦希里文</string>
	<string>克林贡文</string>
	<string>韩文</string>
	<string>拉脱维亚文</string>
	<string>立陶宛文</string>
	<string>马来文</string>
	<string>马耳他文</string>
	<string>挪威文</string>
	<string>波斯文</string>
	<string>波兰文</string>
	<string>葡萄牙文</string>
	<string>克雷塔罗奥托米语</string>
	<string>罗马尼亚文</string>
	<string>俄文</string>
	<string>塞尔维亚文（西里尔文）</string>
	<string>塞尔维亚文（拉丁文）</string>
	<string>斯洛伐克文</string>
	<string>斯洛文尼亚文</string>
	<string>西班牙文</string>
	<string>瑞典文</string>
	<string>泰文</string>
	<string>土耳其文</string>
	<string>乌克兰文</string>
	<string>乌尔都文</string>
	<string>越南文</string>
	<string>威尔士文</string>
	<string>尤卡坦玛雅语</string>
	<string>中文</string>
	<string>阿尔巴尼亚语</string>
	<string>阿姆哈拉语</string>
	<string>亚美尼亚语</string>
	<string>阿塞拜疆语</string>
	<string>巴斯克语</string>
	<string>白俄罗斯语</string>
	<string>孟加拉语</string>
	<string>宿务语</string>
	<string>齐切瓦语</string>
	<string>科西嘉语</string>
	<string>世界语</string>
	<string>菲律宾语</string>
	<string>弗里西语</string>
	<string>加利西亚语</string>
	<string>格鲁吉亚语</string>
	<string>古吉拉特语</string>
	<string>豪萨语</string>
	<string>夏威夷语</string>
	<string>冰岛语</string>
	<string>伊博语</string>
	<string>爱尔兰语</string>
	<string>爪哇语</string>
	<string>卡纳达语</string>
	<string>哈萨克语</string>
	<string>高棉语</string>
	<string>库尔德语</string>
	<string>柯尔克孜语</string>
	<string>老挝语</string>
	<string>拉丁语</string>
	<string>卢森堡语</string>
	<string>马其顿语</string>
	<string>马尔加什语</string>
	<string>马拉雅拉姆语</string>
	<string>毛利语</string>
	<string>马拉地语</string>
	<string>蒙古语</string>
	<string>缅甸语</string>
	<string>尼泊尔语</string>
	<string>普什图语</string>
	<string>旁遮普语</string>
	<string>萨摩亚语</string>
	<string>苏格兰盖尔语</string>
	<string>塞索托语</string>
	<string>修纳语</string>
	<string>信德语</string>
	<string>僧伽罗语</string>
	<string>索马里语</string>
	<string>塔吉克语</string>
	<string>泰米尔语</string>
	<string>泰卢固语</string>
	<string>乌兹别克语</string>
	<string>南非科萨语</string>
	<string>意第绪语</string>
	<string>约鲁巴语</string>
	<string>巽他语</string>
	<string>南非祖鲁语</string>
	<string>斐济语</string>
	<string>南非荷兰语</string>
	<string>塔希提语</string>
	<string>汤加语</string>
	<string>粤语</string>
</array>
</plist>
