<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ar</string>
	<string>bs-Latn</string>
	<string>bg</string>
	<string>ca</string>
	<string>zh-CHT</string>
	<string>hr</string>
	<string>cs</string>
	<string>da</string>
	<string>nl</string>
	<string>en</string>
	<string>et</string>
	<string>fi</string>
	<string>fr</string>
	<string>de</string>
	<string>el</string>
	<string>ht</string>
	<string>he</string>
	<string>hi</string>
	<string>mww</string>
	<string>hu</string>
	<string>id</string>
	<string>it</string>
	<string>ja</string>
	<string>sw</string>
	<string>tlh</string>
	<string>ko</string>
	<string>lv</string>
	<string>lt</string>
	<string>ms</string>
	<string>mt</string>
	<string>no</string>
	<string>fa</string>
	<string>pl</string>
	<string>pt</string>
	<string>otq</string>
	<string>ro</string>
	<string>ru</string>
	<string>sr-Cyrl</string>
	<string>sr-Latn</string>
	<string>sk</string>
	<string>sl</string>
	<string>es</string>
	<string>sv</string>
	<string>th</string>
	<string>tr</string>
	<string>uk</string>
	<string>ur</string>
	<string>vi</string>
	<string>cy</string>
	<string>yua</string>
	<string>zh-CHS</string>
	<string>sq</string>
	<string>am</string>
	<string>hy</string>
	<string>az</string>
	<string>eu</string>
	<string>be</string>
	<string>bn</string>
	<string>ceb</string>
	<string>ny</string>
	<string>co</string>
	<string>eo</string>
	<string>tl</string>
	<string>fy</string>
	<string>gl</string>
	<string>ka</string>
	<string>gu</string>
	<string>ha</string>
	<string>haw</string>
	<string>is</string>
	<string>ig</string>
	<string>ga</string>
	<string>jw</string>
	<string>kn</string>
	<string>kk</string>
	<string>km</string>
	<string>ku</string>
	<string>ky</string>
	<string>lo</string>
	<string>la</string>
	<string>lb</string>
	<string>mk</string>
	<string>mg</string>
	<string>ml</string>
	<string>mi</string>
	<string>mr</string>
	<string>mn</string>
	<string>my</string>
	<string>ne</string>
	<string>ps</string>
	<string>ma</string>
	<string>sm</string>
	<string>gd</string>
	<string>st</string>
	<string>sn</string>
	<string>sd</string>
	<string>si</string>
	<string>so</string>
	<string>tg</string>
	<string>ta</string>
	<string>te</string>
	<string>uz</string>
	<string>xh</string>
	<string>yi</string>
	<string>yo</string>
	<string>su</string>
	<string>zu</string>
	<string>fj</string>
	<string>af</string>
	<string>ty</string>
	<string>to</string>
	<string>yue</string>
</array>
</plist>
