<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>af</key>
	<dict>
		<key>code</key>
		<string>af</string>
		<key>name</key>
		<string>南非荷兰语</string>
	</dict>
	<key>am</key>
	<dict>
		<key>code</key>
		<string>am</string>
		<key>name</key>
		<string>阿姆哈拉语</string>
	</dict>
	<key>ar</key>
	<dict>
		<key>code</key>
		<string>ar</string>
		<key>name</key>
		<string>阿拉伯文</string>
	</dict>
	<key>auto</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>自动识别</string>
	</dict>
	<key>az</key>
	<dict>
		<key>code</key>
		<string>az</string>
		<key>name</key>
		<string>阿塞拜疆语</string>
	</dict>
	<key>be</key>
	<dict>
		<key>code</key>
		<string>be</string>
		<key>name</key>
		<string>白俄罗斯语</string>
	</dict>
	<key>bg</key>
	<dict>
		<key>code</key>
		<string>bg</string>
		<key>name</key>
		<string>保加利亚文</string>
	</dict>
	<key>bn</key>
	<dict>
		<key>code</key>
		<string>bn</string>
		<key>name</key>
		<string>孟加拉语</string>
	</dict>
	<key>bs-Latn</key>
	<dict>
		<key>code</key>
		<string>bs-Latn</string>
		<key>name</key>
		<string>波斯尼亚文（拉丁文）</string>
	</dict>
	<key>ca</key>
	<dict>
		<key>code</key>
		<string>ca</string>
		<key>name</key>
		<string>加泰罗尼亚文</string>
	</dict>
	<key>ceb</key>
	<dict>
		<key>code</key>
		<string>ceb</string>
		<key>name</key>
		<string>宿务语</string>
	</dict>
	<key>co</key>
	<dict>
		<key>code</key>
		<string>co</string>
		<key>name</key>
		<string>科西嘉语</string>
	</dict>
	<key>cs</key>
	<dict>
		<key>code</key>
		<string>cs</string>
		<key>name</key>
		<string>捷克文</string>
	</dict>
	<key>cy</key>
	<dict>
		<key>code</key>
		<string>cy</string>
		<key>name</key>
		<string>威尔士文</string>
	</dict>
	<key>da</key>
	<dict>
		<key>code</key>
		<string>da</string>
		<key>name</key>
		<string>丹麦文</string>
	</dict>
	<key>de</key>
	<dict>
		<key>code</key>
		<string>de</string>
		<key>name</key>
		<string>德文</string>
	</dict>
	<key>el</key>
	<dict>
		<key>code</key>
		<string>el</string>
		<key>name</key>
		<string>希腊文</string>
	</dict>
	<key>en</key>
	<dict>
		<key>code</key>
		<string>en</string>
		<key>fromDefault</key>
		<true/>
		<key>historyDefault</key>
		<integer>2</integer>
		<key>name</key>
		<string>英文</string>
	</dict>
	<key>eo</key>
	<dict>
		<key>code</key>
		<string>eo</string>
		<key>name</key>
		<string>世界语</string>
	</dict>
	<key>es</key>
	<dict>
		<key>code</key>
		<string>es</string>
		<key>name</key>
		<string>西班牙文</string>
	</dict>
	<key>et</key>
	<dict>
		<key>code</key>
		<string>et</string>
		<key>name</key>
		<string>爱沙尼亚文</string>
	</dict>
	<key>eu</key>
	<dict>
		<key>code</key>
		<string>eu</string>
		<key>name</key>
		<string>巴斯克语</string>
	</dict>
	<key>fa</key>
	<dict>
		<key>code</key>
		<string>fa</string>
		<key>name</key>
		<string>波斯文</string>
	</dict>
	<key>fi</key>
	<dict>
		<key>code</key>
		<string>fi</string>
		<key>name</key>
		<string>芬兰文</string>
	</dict>
	<key>fj</key>
	<dict>
		<key>code</key>
		<string>fj</string>
		<key>name</key>
		<string>斐济语</string>
	</dict>
	<key>fr</key>
	<dict>
		<key>code</key>
		<string>fr</string>
		<key>historyDefault</key>
		<integer>5</integer>
		<key>name</key>
		<string>法文</string>
	</dict>
	<key>fy</key>
	<dict>
		<key>code</key>
		<string>fy</string>
		<key>name</key>
		<string>弗里西语</string>
	</dict>
	<key>ga</key>
	<dict>
		<key>code</key>
		<string>ga</string>
		<key>name</key>
		<string>爱尔兰语</string>
	</dict>
	<key>gd</key>
	<dict>
		<key>code</key>
		<string>gd</string>
		<key>name</key>
		<string>苏格兰盖尔语</string>
	</dict>
	<key>gl</key>
	<dict>
		<key>code</key>
		<string>gl</string>
		<key>name</key>
		<string>加利西亚语</string>
	</dict>
	<key>gu</key>
	<dict>
		<key>code</key>
		<string>gu</string>
		<key>name</key>
		<string>古吉拉特语</string>
	</dict>
	<key>haw</key>
	<dict>
		<key>code</key>
		<string>haw</string>
		<key>name</key>
		<string>夏威夷语</string>
	</dict>
	<key>he</key>
	<dict>
		<key>code</key>
		<string>he</string>
		<key>name</key>
		<string>希伯来文</string>
	</dict>
	<key>hi</key>
	<dict>
		<key>code</key>
		<string>hi</string>
		<key>name</key>
		<string>印地文</string>
	</dict>
	<key>hr</key>
	<dict>
		<key>code</key>
		<string>hr</string>
		<key>name</key>
		<string>克罗地亚文</string>
	</dict>
	<key>ht</key>
	<dict>
		<key>code</key>
		<string>ht</string>
		<key>name</key>
		<string>海地文</string>
	</dict>
	<key>hu</key>
	<dict>
		<key>code</key>
		<string>hu</string>
		<key>name</key>
		<string>匈牙利文</string>
	</dict>
	<key>hy</key>
	<dict>
		<key>code</key>
		<string>hy</string>
		<key>name</key>
		<string>亚美尼亚语</string>
	</dict>
	<key>id</key>
	<dict>
		<key>code</key>
		<string>id</string>
		<key>name</key>
		<string>印度尼西亚文</string>
	</dict>
	<key>ig</key>
	<dict>
		<key>code</key>
		<string>ig</string>
		<key>name</key>
		<string>伊博语</string>
	</dict>
	<key>is</key>
	<dict>
		<key>code</key>
		<string>is</string>
		<key>name</key>
		<string>冰岛语</string>
	</dict>
	<key>it</key>
	<dict>
		<key>code</key>
		<string>it</string>
		<key>name</key>
		<string>意大利文</string>
	</dict>
	<key>ja</key>
	<dict>
		<key>code</key>
		<string>ja</string>
		<key>historyDefault</key>
		<integer>3</integer>
		<key>name</key>
		<string>日文</string>
	</dict>
	<key>jw</key>
	<dict>
		<key>code</key>
		<string>jw</string>
		<key>name</key>
		<string>爪哇语</string>
	</dict>
	<key>ka</key>
	<dict>
		<key>code</key>
		<string>ka</string>
		<key>name</key>
		<string>格鲁吉亚语</string>
	</dict>
	<key>kk</key>
	<dict>
		<key>code</key>
		<string>kk</string>
		<key>name</key>
		<string>哈萨克语</string>
	</dict>
	<key>km</key>
	<dict>
		<key>code</key>
		<string>km</string>
		<key>name</key>
		<string>高棉语</string>
	</dict>
	<key>kn</key>
	<dict>
		<key>code</key>
		<string>kn</string>
		<key>name</key>
		<string>卡纳达语</string>
	</dict>
	<key>ko</key>
	<dict>
		<key>code</key>
		<string>ko</string>
		<key>historyDefault</key>
		<integer>4</integer>
		<key>name</key>
		<string>韩文</string>
	</dict>
	<key>ku</key>
	<dict>
		<key>code</key>
		<string>ku</string>
		<key>name</key>
		<string>库尔德语</string>
	</dict>
	<key>ky</key>
	<dict>
		<key>code</key>
		<string>ky</string>
		<key>name</key>
		<string>柯尔克孜语</string>
	</dict>
	<key>la</key>
	<dict>
		<key>code</key>
		<string>la</string>
		<key>name</key>
		<string>拉丁语</string>
	</dict>
	<key>lb</key>
	<dict>
		<key>code</key>
		<string>lb</string>
		<key>name</key>
		<string>卢森堡语</string>
	</dict>
	<key>lo</key>
	<dict>
		<key>code</key>
		<string>lo</string>
		<key>name</key>
		<string>老挝语</string>
	</dict>
	<key>lt</key>
	<dict>
		<key>code</key>
		<string>lt</string>
		<key>name</key>
		<string>立陶宛文</string>
	</dict>
	<key>lv</key>
	<dict>
		<key>code</key>
		<string>lv</string>
		<key>name</key>
		<string>拉脱维亚文</string>
	</dict>
	<key>ma</key>
	<dict>
		<key>code</key>
		<string>ma</string>
		<key>name</key>
		<string>旁遮普语</string>
	</dict>
	<key>mg</key>
	<dict>
		<key>code</key>
		<string>mg</string>
		<key>name</key>
		<string>马尔加什语</string>
	</dict>
	<key>mi</key>
	<dict>
		<key>code</key>
		<string>mi</string>
		<key>name</key>
		<string>毛利语</string>
	</dict>
	<key>mk</key>
	<dict>
		<key>code</key>
		<string>mk</string>
		<key>name</key>
		<string>马其顿语</string>
	</dict>
	<key>ml</key>
	<dict>
		<key>code</key>
		<string>ml</string>
		<key>name</key>
		<string>马拉雅拉姆语</string>
	</dict>
	<key>mn</key>
	<dict>
		<key>code</key>
		<string>mn</string>
		<key>name</key>
		<string>蒙古语</string>
	</dict>
	<key>mr</key>
	<dict>
		<key>code</key>
		<string>mr</string>
		<key>name</key>
		<string>马拉地语</string>
	</dict>
	<key>ms</key>
	<dict>
		<key>code</key>
		<string>ms</string>
		<key>name</key>
		<string>马来文</string>
	</dict>
	<key>mt</key>
	<dict>
		<key>code</key>
		<string>mt</string>
		<key>name</key>
		<string>马耳他文</string>
	</dict>
	<key>mww</key>
	<dict>
		<key>code</key>
		<string>mww</string>
		<key>name</key>
		<string>白苗语</string>
	</dict>
	<key>my</key>
	<dict>
		<key>code</key>
		<string>my</string>
		<key>name</key>
		<string>缅甸语</string>
	</dict>
	<key>ne</key>
	<dict>
		<key>code</key>
		<string>ne</string>
		<key>name</key>
		<string>尼泊尔语</string>
	</dict>
	<key>nl</key>
	<dict>
		<key>code</key>
		<string>nl</string>
		<key>name</key>
		<string>荷兰文</string>
	</dict>
	<key>no</key>
	<dict>
		<key>code</key>
		<string>no</string>
		<key>name</key>
		<string>挪威文</string>
	</dict>
	<key>ny</key>
	<dict>
		<key>code</key>
		<string>ny</string>
		<key>name</key>
		<string>齐切瓦语</string>
	</dict>
	<key>otq</key>
	<dict>
		<key>code</key>
		<string>otq</string>
		<key>name</key>
		<string>克雷塔罗奥托米语</string>
	</dict>
	<key>pl</key>
	<dict>
		<key>code</key>
		<string>pl</string>
		<key>name</key>
		<string>波兰文</string>
	</dict>
	<key>ps</key>
	<dict>
		<key>code</key>
		<string>ps</string>
		<key>name</key>
		<string>普什图语</string>
	</dict>
	<key>pt</key>
	<dict>
		<key>code</key>
		<string>pt</string>
		<key>name</key>
		<string>葡萄牙文</string>
	</dict>
	<key>ro</key>
	<dict>
		<key>code</key>
		<string>ro</string>
		<key>name</key>
		<string>罗马尼亚文</string>
	</dict>
	<key>ru</key>
	<dict>
		<key>code</key>
		<string>ru</string>
		<key>name</key>
		<string>俄文</string>
	</dict>
	<key>sd</key>
	<dict>
		<key>code</key>
		<string>sd</string>
		<key>name</key>
		<string>信德语</string>
	</dict>
	<key>si</key>
	<dict>
		<key>code</key>
		<string>si</string>
		<key>name</key>
		<string>僧伽罗语</string>
	</dict>
	<key>sk</key>
	<dict>
		<key>code</key>
		<string>sk</string>
		<key>name</key>
		<string>斯洛伐克文</string>
	</dict>
	<key>sl</key>
	<dict>
		<key>code</key>
		<string>sl</string>
		<key>name</key>
		<string>斯洛文尼亚文</string>
	</dict>
	<key>sm</key>
	<dict>
		<key>code</key>
		<string>sm</string>
		<key>name</key>
		<string>萨摩亚语</string>
	</dict>
	<key>sn</key>
	<dict>
		<key>code</key>
		<string>sn</string>
		<key>name</key>
		<string>修纳语</string>
	</dict>
	<key>so</key>
	<dict>
		<key>code</key>
		<string>so</string>
		<key>name</key>
		<string>索马里语</string>
	</dict>
	<key>sq</key>
	<dict>
		<key>code</key>
		<string>sq</string>
		<key>name</key>
		<string>阿尔巴尼亚语</string>
	</dict>
	<key>sr-Cyrl</key>
	<dict>
		<key>code</key>
		<string>sr-Cyrl</string>
		<key>name</key>
		<string>塞尔维亚文（西里尔文）</string>
	</dict>
	<key>sr-Latn</key>
	<dict>
		<key>code</key>
		<string>sr-Latn</string>
		<key>name</key>
		<string>塞尔维亚文（拉丁文）</string>
	</dict>
	<key>st</key>
	<dict>
		<key>code</key>
		<string>st</string>
		<key>name</key>
		<string>塞索托语</string>
	</dict>
	<key>su</key>
	<dict>
		<key>code</key>
		<string>su</string>
		<key>name</key>
		<string>巽他语</string>
	</dict>
	<key>sv</key>
	<dict>
		<key>code</key>
		<string>sv</string>
		<key>name</key>
		<string>瑞典文</string>
	</dict>
	<key>sw</key>
	<dict>
		<key>code</key>
		<string>sw</string>
		<key>name</key>
		<string>斯瓦希里文</string>
	</dict>
	<key>ta</key>
	<dict>
		<key>code</key>
		<string>ta</string>
		<key>name</key>
		<string>泰米尔语</string>
	</dict>
	<key>te</key>
	<dict>
		<key>code</key>
		<string>te</string>
		<key>name</key>
		<string>泰卢固语</string>
	</dict>
	<key>tg</key>
	<dict>
		<key>code</key>
		<string>tg</string>
		<key>name</key>
		<string>塔吉克语</string>
	</dict>
	<key>th</key>
	<dict>
		<key>code</key>
		<string>th</string>
		<key>name</key>
		<string>泰文</string>
	</dict>
	<key>tl</key>
	<dict>
		<key>code</key>
		<string>tl</string>
		<key>name</key>
		<string>菲律宾语</string>
	</dict>
	<key>tlh</key>
	<dict>
		<key>code</key>
		<string>tlh</string>
		<key>name</key>
		<string>克林贡文</string>
	</dict>
	<key>to</key>
	<dict>
		<key>code</key>
		<string>to</string>
		<key>name</key>
		<string>汤加语</string>
	</dict>
	<key>tr</key>
	<dict>
		<key>code</key>
		<string>tr</string>
		<key>name</key>
		<string>土耳其文</string>
	</dict>
	<key>ty</key>
	<dict>
		<key>code</key>
		<string>ty</string>
		<key>name</key>
		<string>塔希提语</string>
	</dict>
	<key>uk</key>
	<dict>
		<key>code</key>
		<string>uk</string>
		<key>name</key>
		<string>乌克兰文</string>
	</dict>
	<key>ur</key>
	<dict>
		<key>code</key>
		<string>ur</string>
		<key>name</key>
		<string>乌尔都文</string>
	</dict>
	<key>uz</key>
	<dict>
		<key>code</key>
		<string>uz</string>
		<key>name</key>
		<string>乌兹别克语</string>
	</dict>
	<key>vi</key>
	<dict>
		<key>code</key>
		<string>vi</string>
		<key>name</key>
		<string>越南文</string>
	</dict>
	<key>xh</key>
	<dict>
		<key>code</key>
		<string>xh</string>
		<key>name</key>
		<string>南非科萨语</string>
	</dict>
	<key>yi</key>
	<dict>
		<key>code</key>
		<string>yi</string>
		<key>name</key>
		<string>意第绪语</string>
	</dict>
	<key>yo</key>
	<dict>
		<key>code</key>
		<string>yo</string>
		<key>name</key>
		<string>约鲁巴语</string>
	</dict>
	<key>yua</key>
	<dict>
		<key>code</key>
		<string>yua</string>
		<key>name</key>
		<string>尤卡坦玛雅语</string>
	</dict>
	<key>yue</key>
	<dict>
		<key>code</key>
		<string>yue</string>
		<key>name</key>
		<string>粤语</string>
	</dict>
	<key>zh-CHS</key>
	<dict>
		<key>code</key>
		<string>zh-CHS</string>
		<key>historyDefault</key>
		<integer>1</integer>
		<key>name</key>
		<string>中文</string>
		<key>toDefault</key>
		<true/>
	</dict>
	<key>zh-CHT</key>
	<dict>
		<key>code</key>
		<string>zh-CHT</string>
		<key>name</key>
		<string>中文（繁体）</string>
	</dict>
	<key>zu</key>
	<dict>
		<key>code</key>
		<string>zu</string>
		<key>name</key>
		<string>南非祖鲁语</string>
	</dict>
</dict>
</plist>
