<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ar-EGY</key>
	<dict>
		<key>code</key>
		<string>ar-EGY</string>
		<key>name</key>
		<string>阿拉伯文（埃及）</string>
	</dict>
	<key>ar-SAU</key>
	<dict>
		<key>code</key>
		<string>ar-SAU</string>
		<key>name</key>
		<string>阿拉伯文（沙特阿拉伯）</string>
	</dict>
	<key>en-AUS</key>
	<dict>
		<key>code</key>
		<string>en-AUS</string>
		<key>name</key>
		<string>英文（澳大利亚）</string>
	</dict>
	<key>en-GBR</key>
	<dict>
		<key>code</key>
		<string>en-GBR</string>
		<key>name</key>
		<string>英文（英国）</string>
	</dict>
	<key>en-IND</key>
	<dict>
		<key>code</key>
		<string>en-IND</string>
		<key>name</key>
		<string>英文（印度）</string>
	</dict>
	<key>es-XLA</key>
	<dict>
		<key>code</key>
		<string>es-XLA</string>
		<key>name</key>
		<string>西班牙文（拉丁美洲）</string>
	</dict>
	<key>fr-CAN</key>
	<dict>
		<key>code</key>
		<string>fr-CAN</string>
		<key>name</key>
		<string>法文（加拿大）</string>
	</dict>
	<key>pt-BRA</key>
	<dict>
		<key>code</key>
		<string>pt-BRA</string>
		<key>name</key>
		<string>葡萄牙文（巴西）</string>
	</dict>
	<key>zh-CHT2</key>
	<dict>
		<key>code</key>
		<string>zh-CHT2</string>
		<key>name</key>
		<string>中文（中国台湾）</string>
	</dict>
</dict>
</plist>
