<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>CAReplicatorLayer</string>
		<key>url</key>
		<string>BaseAnimation</string>
		<key>router</key>
		<string>MMCAReplicatorLayerVC</string>
		<key>text</key>
		<string>CAReplicatorLayer</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CAReplicatorLayer</string>
		<key>url</key>
		<string>BaseAnimation</string>
		<key>router</key>
		<string>MMTimeOffsetViewController</string>
		<key>text</key>
		<string>图层时间</string>
	</dict>
</array>
</plist>
