<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>基础动画</string>
		<key>url</key>
		<string>BaseAnimation</string>
		<key>router</key>
		<string>MMBaseAnimationViewController</string>
		<key>text</key>
		<string>BaseAnimation</string>
	</dict>
	<dict>
		<key>title</key>
		<string>重力动画</string>
		<key>url</key>
		<string>UIKitDynamic</string>
		<key>router</key>
		<string>MMKitDynamicAnitationVC</string>
		<key>text</key>
		<string>UIKitDynamic</string>
	</dict>
</array>
</plist>
