<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>TextField</string>
		<key>url</key>
		<string>BaseAnimation</string>
		<key>router</key>
		<string>MMTextFieldVC</string>
		<key>text</key>
		<string>CAReplicatorLayer</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CollectionView示例</string>
		<key>url</key>
		<string>BaseAnimation</string>
		<key>router</key>
		<string>MMCollectionLayoutVC</string>
		<key>text</key>
		<string>CollectionView</string>
	</dict>
	<dict>
		<key>title</key>
		<string>旋转屏幕push</string>
		<key>url</key>
		<string>BaseAnimation</string>
		<key>router</key>
		<string>MMScreenRotateVC</string>
		<key>text</key>
		<string>push</string>
	</dict>
	<dict>
		<key>title</key>
		<string>旋转屏幕present</string>
		<key>url</key>
		<string>BaseAnimation</string>
		<key>router</key>
		<string>MMScreenRotateVC</string>
		<key>text</key>
		<string>present</string>
	</dict>
	<dict>
		<key>title</key>
		<string>富文本</string>
		<key>url</key>
		<string>BaseAnimation</string>
		<key>router</key>
		<string>MMRichTextVC</string>
		<key>text</key>
		<string>label</string>
	</dict>
	<dict>
		<key>title</key>
		<string>简单UI示例</string>
		<key>url</key>
		<string>BaseAnimation</string>
		<key>router</key>
		<string>MMSimpleUIVC</string>
		<key>text</key>
		<string>label</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Xib_UI示例</string>
		<key>url</key>
		<string>BaseAnimation</string>
		<key>router</key>
		<string>MMSImpleXibUIVC</string>
		<key>text</key>
		<string>label</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Tableview优化</string>
		<key>url</key>
		<string>tableview新特性</string>
		<key>router</key>
		<string>MMCustomTableviewVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Masonry约束</string>
		<key>url</key>
		<string>BaseAnimation</string>
		<key>router</key>
		<string>MMMasonryViewController</string>
		<key>text</key>
		<string>label</string>
	</dict>
	<dict>
		<key>title</key>
		<string>重力效果</string>
		<key>url</key>
		<string>UIDynamic</string>
		<key>router</key>
		<string>MMUIDynamicVC</string>
		<key>text</key>
		<string>UIDynamic</string>
	</dict>
	<dict>
		<key>title</key>
		<string>约束优先级</string>
		<key>url</key>
		<string>priority</string>
		<key>router</key>
		<string>MMLayoutPriorityVC</string>
		<key>text</key>
		<string>priority</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UIlabel</string>
		<key>url</key>
		<string>priority</string>
		<key>router</key>
		<string>MMUILabelTestVC</string>
		<key>text</key>
		<string>MMUILabelTestVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CALayer</string>
		<key>url</key>
		<string>priority</string>
		<key>router</key>
		<string>MMLayerTestVC</string>
		<key>text</key>
		<string>CALayer</string>
	</dict>
</array>
</plist>
