<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>NSOperationQueue</string>
		<key>router</key>
		<string>MMOperationViewController</string>
		<key>text</key>
		<string>NSOperation</string>
	</dict>
	<dict>
		<key>title</key>
		<string>简单功能</string>
		<key>router</key>
		<string>MMSimpleFuncVC</string>
		<key>text</key>
		<string>block</string>
	</dict>
</array>
</plist>
